//★★★★★★★★★★★★★★★★★★
//structure 変数一覧
//★★★★★★★★★★★★★★★★★★


//無彩色パターン K = key plate(厳密ではない)
$K0:darken(#fff, 0%);
$K5:darken(#fff, 5%);
$K10:darken(#fff, 10%);
$K15:darken(#fff, 15%);
$K20:darken(#fff, 20%);
$K25:darken(#fff, 25%);
$K30:darken(#fff, 30%);
$K35:darken(#fff, 35%);
$K40:darken(#fff, 40%);
$K45:darken(#fff, 45%);
$K50:darken(#fff, 50%);
$K55:darken(#fff, 55%);
$K60:darken(#fff, 60%);
$K65:darken(#fff, 65%);
$K70:darken(#fff, 70%);
$K75:darken(#fff, 75%);
$K80:darken(#fff, 80%);
$K85:darken(#fff, 85%);
$K90:darken(#fff, 90%);
$K95:darken(#fff, 95%);
$K100:darken(#fff, 100%);

//汎用カラー
$danger:#dc3545;
$warning:#ffc107;
$info:#17a2b8;
